<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>My profile</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="/">Home</a>
						</div>
						<div class="breadcrumb-item active">My profile
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- my accout starts -->
<section class="my-account">
	<div class="profile-bg">
		<img src="{{ infoUser.background }}" alt="profile image">
		<div class="profile-top-details">
			<div class="container">
				<div class="row">
					<div class="avt-name-local">
						<div class="avatar">
							<img src="{{ infoUser.avartar }}" alt="avatar">
						</div>
						<div class="name-location">
							<h2 class="name">
							{{ infoUser.name }}
							</h2>
							<div class="location">
								<p>
									<span>
										<i class="fa fa-map-marker" aria-hidden="true"></i>
									</span>
									{{ infoUser.location }}
								</p>
							</div>
						</div>
					</div>
					<div class="go-to-setting">
						<a href="/user/edit-profile" class="my-btn">
							<i class="fa fa-cogs" aria-hidden="true"></i>
							Setting
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- my accout ends -->
<!-- all profile details starts -->
<section class="all-profile-details">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-3">
				<div class="side-bar">
					<div class="nav-tab">
						<div class="nav-item active" data-id="timeline">
							<a href="#">Timeline</a>
						</div>
						<div class="nav-item" data-id="about">
							<a href="#">About</a>
						</div>
						<div class="nav-item" data-id="restaurants">
							<a href="#">Restaurants</a>
						</div>
						<div class="nav-item" data-id="my-orders">
							<a href="#">My orders</a>
						</div>
						<div class="nav-item" data-id="orders-history">
							<a href="#">Orders History</a>
						</div>
						<div class="nav-item" data-id="my-videos">
							<a href="#">My videos</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-9 col-lg-6">
				<div class="tab-content">
					<div class="tab-pane active">
						<div id="timeline">
							<div class="timeline-heading">
								<h4>Timeline</h4>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-2.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<div class="post-image">
									<div class="select-imgs">
										<div class="select-img">
											<img src="/images/meal-1.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-2.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-3.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-4.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-5.jpg" alt="post image">
										</div>
									</div>
								</div>
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="commnent-user">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-3.png" alt="user comment">
											</a>
											<div class="name-rating">
												<h4> Rock Smith</h4>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Thank you</p>
									</div>
									<div class="like-comment">
										<div class="like">
											<span class="btn-like-cmt">
												<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
												20 like
											</span>
										</div>
										<div class="comment">
											<span class="btn-like-cmt">
												<i class="fa fa-comments-o" aria-hidden="true"></i>
												6 comment
											</span>
										</div>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-2.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<!-- <div class="post-image">
														<div class="select-imgs">
																				
														</div>
								</div> -->
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
							<div class="timeline-posts">
								<div class="post-info">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-5.png" alt="user post">
											</a>
											<div class="name-rating">
												<h4>Joy Cutler</h4>
												<div class="rating">
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star" aria-hidden="true"></i>
													<i class="fa fa-star-o" aria-hidden="true"></i>
													<span>4.0</span>
												</div>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Morbi hendrerit ipsum vel feugiat maximus. Duis posuere justo neque, sit amet efficitur quam aliquam non. Integer gravida ex quis lacinia consectetur.</p>
									</div>
								</div>
								<div class="tag">
									<p>
										<ins>Tags :</ins>
										<a href="#">Johnson,</a>
										<a href="#"> Jasica,</a>
										<a href="#"> Joy William</a>
									</p>
								</div>
								<div class="post-image">
									<div class="select-imgs">
										<div class="select-img">
											<img src="/images/meal-1.jpg" alt="post image">
										</div>
										<div class="select-img">
											<img src="/images/meal-2.jpg" alt="post image">
										</div>
									</div>
								</div>
								<div class="like-comment">
									<div class="like">
										<span class="btn-like-cmt">
											<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
											20 like
										</span>
									</div>
									<div class="comment">
										<span class="btn-like-cmt">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											6 comment
										</span>
									</div>
								</div>
								<div class="commnent-user">
									<div class="user-info">
										<div class="avt-name-rating">
											<a href="#">
												<img src="/images/user-4.png" alt="user comment">
											</a>
											<div class="name-rating">
												<h4> Rock Smith</h4>
											</div>
										</div>
										<div class="time-post">
											<p> <i class="fa fa-clock-o" aria-hidden="true"></i> 12 h<span>ours</span> ago</p>
										</div>
									</div>
									<div class="content-comment">
										<p>Thank you</p>
									</div>
									<div class="like-comment">
										<div class="like">
											<span class="btn-like-cmt">
												<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
												20 like
											</span>
										</div>
										<div class="comment">
											<span class="btn-like-cmt">
												<i class="fa fa-comments-o" aria-hidden="true"></i>
												6 comment
											</span>
										</div>
									</div>
								</div>
								<div class="reply-comment-user">
									<div class="post-items">
										<div class="img-user">
											<i class="fa fa-user" aria-hidden="true"></i>
										</div>
										<form action="#" method="post">
											<input type="text" class="post-input" name="postComment" placeholder="Write a comment - @tag friends">
											<input type="submit" value="Reply" class="my-btn">
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="about">
							<div class="about-heading">
								<h4>About</h4>
								<a href="#">
									<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
								</a>
							</div>
							<div class="about-details">
								<div class="about-dt">
									<h6>Name</h6>
									<p>{{ infoUser.name }}</p>
								</div>
								<div class="about-dt">
									<h6>Location</h6>
									<p>{{ infoUser.location }}</p>
								</div>
								<div class="about-dt">
									<h6>Mobile Number</h6>
									<p>{{ infoUser.phone }}</p>
								</div>
								<div class="about-dt">
									<h6>Email Address</h6>
									<p>{{ infoUser.email }}</p>
								</div>
								{{!-- <div class="about-dt">
									<h6>Personal Website</h6>
									<p>www.johndoe.com</p>
								</div> --}}
								<div class="about-dt">
									<h6>Description About Yopur Self</h6>
									<p>{{ infoUser.description }}</p>
								</div>
								<div class="about-dt">
									<h6>Social Accounts</h6>
									<div class="social-btns">
										<a href="#">
											<div class="social-btn btn-1">
												<i class="fa fa-facebook" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-2">
												<i class="fa fa-twitter" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-3">
												<i class="fa fa-instagram" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-4">
												<i class="fa fa-linkedin" aria-hidden="true"></i>
											</div>
										</a>
										<a href="#">
											<div class="social-btn btn-5">
												<i class="fa fa-youtube-play" aria-hidden="true"></i>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="restaurants">
							<div class="photos-heading">
								<h4>Restaurants</h4>
							</div>
							<div class="all-restaurants">
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="my-orders">
							<div class="my-orders-heading">
								<h4>My orders</h4>
							</div>
							<div class="table-responsive">
								<div class="table-heading">
									<div class="td-heading td-1">Meal</div>
									<div class="td-heading td-2">Qty</div>
									<div class="td-heading td-3">Price</div>
									<div class="td-heading td-4">Action</div>
								</div>
								<div class="table-body">
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="my-videos">
							<div class="my-videos-heading">
								<h4>Videos</h4>
							</div>
							<div class="gallery">
							</div>
						</div>
					</div>
					<div class="tab-pane">
						<div id="orders-history">
							<div class="orders-history-heading">
								<h4>Orders History</h4>
							</div>
							<div class="table-responsive">
								<div class="table-heading">
									<div class="td-heading td-1">Meal</div>
									<div class="td-heading td-2">Qty</div>
									<div class="td-heading td-3">Price</div>
									<div class="td-heading td-4">Action</div>
								</div>
								<div class="table-body">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col col-12 col-md-0 col-lg-3">
				<div class="suggested-peoples">
					<div class="sd-title">
						<h3>Suggested Peoples</h3>
					</div>
					<div class="suggestions-list">
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-1.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Johnson</a>
								<span>
									7 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-2.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Jassia William</a>
								<span>
									5 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-3.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Rock</a>
								<span>
									0 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-4.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Davil Smith</a>
								<span>
									10 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
						<div class="suggestion-usd">
							<a href="#">
								<img src="/images/user-5.png" alt="user item">
							</a>
							<div class="sgt-text">
								<a href="#">Ricky Doe</a>
								<span>
									3 Reviews
								</span>
							</div>
							<button>
							<i class="fa fa-user-plus" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="list-photos">
					<div class="photos-title">
						<h3>Photos</h3>
					</div>
					<div class="pf-gallery">
						<a href="#">
							<img src="/images/restaurant-img-1.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-2.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-3.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-4.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-5.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-6.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-7.jpg" alt="img item">
						</a>
						<a href="#">
							<img src="/images/restaurant-img-8.jpg" alt="img item">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- all profile details ends -->