<!-- title bar starts -->
<section class="title-bar">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-md-6">
				<div class="left-title-text">
					<h3>Recipes</h3>
				</div>
			</div>
			<div class="col col-12 col-md-6">
				<div class="right-title-text">
					<div class="breadcrumb">
						<div class="breadcrumb-item">
							<a href="index.html">Home</a>
						</div>
						<div class="breadcrumb-item active">
							Recipes
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- title bar ends -->
<!-- recipe block preview starts -->
<section class="recipe-block-preview">
	<div class="container">
		<div class="find-recipes">
			<div class="row">
				<div class="col col-12">
					<h1 class="title-recipes">Find Recipes</h1>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-12 col-md-6">
					<p>Aenean tellus ligula, pellentesque sit amet luctus eget, posuere eget sapien. Proin ultricies vestibulum sem non lobortis.</p>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col col-12 col-lg-6">
					<form action="#" method="get">
						<div class="input-group">
							<input type="text" name="find" class="my-input" placeholder="Find recipes">
							<button type="button" class="btn">
							<i class="fa fa-search" aria-hidden="true"></i> <span id="search-word">Search</span>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col col-12">
					<div class="or">
						<span>or</span>
					</div>
					<div class="upload">
						<a href="#" class="my-btn">Upload video</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- recipe block preview ends -->
<!-- category recipes starts -->
<section class="category-recipes">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="list-recipes">
					<div class="splide">
						<div class="splide__track">
							<ul class="splide__list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- category recipes ends -->
<!-- main video starts -->
<section class="main-video">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<div class="video">
					<div class="my-bg-gradient"></div>
					<img src="/images/main-video.jpg" alt="main-video">
					<div class="top-items">
						<div class="views">
							<p>
								<i class="fa fa-eye" aria-hidden="true"></i>
								2m views
							</p>
						</div>
						<div class="video-time">
							<p>
								<i class="fa fa-clock-o" aria-hidden="true"></i>
								12.08
							</p>
						</div>
					</div>
					<div class="bottom-items">
						<div class="video-title">
							<a href="/recipe/recipe-details">
								<h4>Learn to cook easy egg gravey dishes</h4>
							</a>
							<div class="bottom-star">
								<div class="rating">
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<span>4.5</span>
								</div>
								<div class="published">
									<p><span>Published</span> 5 March 2018</p>
								</div>
							</div>
						</div>
					</div>
					<div class="middle-items">
						<a href="/recipe/recipe-details">
							<div class="play">
								<i class="fa fa-play" aria-hidden="true"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="suggested-peoples">
					<div class="sd-title">
						<h3>Suggested Peoples</h3>
					</div>
					<div class="suggestions-list">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- main video ends -->
<!-- recomended for you starts -->
<section class="recomended">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h4>Recomended For You</h4>
				</div>
			</div>
		</div>
		<div class="row">
			{{#each recipeVideos}}
			<div class="col col-12 col-md-6 col-lg-4 col-xl-3">
				<div class="recipe-video">
					<div class="top">
						<div class="my-bg-gradient"></div>
						<img src="/images/{{this.image}}" alt="{{this.image}}">
						<div class="top-items">
							<div class="views">
								<p>
									<i class="fa fa-eye" aria-hidden="true"></i>
									{{this.views}}m views
								</p>
							</div>
							<div class="video-time">
								<p>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									{{this.time}}
								</p>
							</div>
						</div>
						<div class="middle-items">
							<a href="/recipe/recipe-details">
								<div class="play">
									<i class="fa fa-play" aria-hidden="true"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="desciption">
						<div class="video-title">
							<a href="/recipe/recipe-details">
								<h3>{{this.name}}</h3>
							</a>
							<h4>{{this.desciption}}</h4>
						</div>
						<div class="published">
							<p>Published {{this.date}}</p>
						</div>
						<div class="rating-cmt">
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>{{this.stars}}</span>
							</div>
							<div class="comment">
								<a href="#">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<span>{{this.comment}}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
	</div>
</section>
<!-- recomended for you ends -->
<!-- uploade for you starts -->
<section class="update">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<div class="heading">
					<h4> Recent Uploaded </h4>
				</div>
			</div>
		</div>
		<div class="row">
			{{#each recipeVideos}}
			<div class="col col-12 col-md-6 col-lg-4 col-xl-3">
				<div class="recipe-video">
					<div class="top">
						<div class="my-bg-gradient"></div>
						<img src="/images/{{this.image}}" alt="{{this.image}}">
						<div class="top-items">
							<div class="views">
								<p>
									<i class="fa fa-eye" aria-hidden="true"></i>
									{{this.views}}m views
								</p>
							</div>
							<div class="video-time">
								<p>
									<i class="fa fa-clock-o" aria-hidden="true"></i>
									{{this.time}}
								</p>
							</div>
						</div>
						<div class="middle-items">
							<a href="/recipe/recipe-details">
								<div class="play">
									<i class="fa fa-play" aria-hidden="true"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="desciption">
						<div class="video-title">
							<a href="/recipe/recipe-details">
								<h3>{{this.name}}</h3>
							</a>
							<h4>{{this.desciption}}</h4>
						</div>
						<div class="published">
							<p>Published {{this.date}}</p>
						</div>
						<div class="rating-cmt">
							<div class="rating">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>{{this.stars}}</span>
							</div>
							<div class="comment">
								<a href="#">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									<span>{{this.comment}}</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
		<div class="row">
			<div class="col col-12">
				<div class="btn-upload">
					<a href="#">Show all</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- uploade for you ends -->
<section class="over-restaurants">
	<div class="container">
		<div class="row">
			<div class="col col-12 col-lg-9">
				<h2>Choose From Over 15,000 Restaurants</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam augue justo, euismod at purus quis, dictum iaculis lorem. Sed dictum, dolor sit amet feugiat posuere, ante arcu iaculis tortor</p>
			</div>
			<div class="col col-12 col-lg-3">
				<div class="view-restaurants">
					<a href="#">View Restaurants</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- partner with us ends -->